<p style="font-style:italic; font-weight: bold; color: #666; font-size: 110%;"><%=@minutes%> minutes of <a href="#" id="meditation-link">meditation</a> have been logged via Twitter.  It is time to <a href="#" id="instructions-link">add your practice to the pool</a>.</p>

<div id="meditation" style="display:none;">
  <h2>Meditation?  What's that?</h2>
  <p>When we say 'meditation', we mean a wide variety of things.  It could be a traditional meditative practice, such as zazen, or it might be contemplative prayer.  The important thing is that you are taking the time to do the work.</p>	
</div>

<div id="instructions" style="display: none;">
	<h2>How?</h2>
	<p>One Cushion, this site, runs on top of <a href="http://twitter.com">Twitter</a>.  You can participate like so:</p>
	<ol>
	  <li>Sit.  Pray.  Practice.  Do what you do.</li>
	  <li>Write a tweet mentioning how long you sat for and include the #onecushion hashtag. <a href="http://twitter.com/mgorsuch/status/5617102379">Here is an example</a>.</li>
	  <li>Check back here in about an hour, and see your work get added to the total.</li>	
	</ol>
	
	<p>We'll have a lot more features in the future, including the ability to track your practice over the long term as well as your friends.  For now, however, it was more important to get something launched.</p>
</div>

