<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title><%= @title ||= "One Cushion | Sit, tweet, and reflect."%></title>
	<link rel="stylesheet" href="css/grid.css" />
	<link rel="stylesheet" href="css/style.css" />
	
	<script type="text/javascript" src="jquery.js"></script>          
	<script type="text/javascript">                                         
	  $(document).ready(function() {
	     $("#instructions-link").click(function() {
	       $("#instructions").toggle("slow");
	     });
	
	     $("#meditation-link").click(function() {
	       $("#meditation").toggle("slow");
	     });
	   });                                 
	 </script>
	
</head>

<body>
  <div id='container' class='container_12'>
	  <div id='header' class='grid_12'>
	    
	  </div>
	
	  <div id='content' class='grid_12'>
	    <%=yield%>
	  </div>

	  <div id="footer" class='grid_12'>
	    <div id="debug">
		</div>
	  </div>
  </div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-96626-11");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>