<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title><%= @title ||= "One Cushion"%></title>
	<link rel="stylesheet" href="css/grid.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <div id='container' class='container_12'>
	  <div id='header' class='grid_12'>
	    <h1>One Cushion</h1>
	  </div>

	  <div id='content' class='grid_12'>
	    <%=yield%>
	  </div>

	  <div id="footer" class='grid_12'>
	    <div id="debug">
		</div>
	  </div>
  </div>
</body>
</html>