<h2>Login</h2>
<form action="/login" method="post">
	<strong>Email Address:</strong><br />
	<input type="text" name="email" /><br />
	<strong>Password:</strong><br />
	<input type="password" name="password" /><br />
	<input type="submit" />	
</form>