<h2>Registration</h2>
<p>Just fill in the boxes below, and you'll be all set.</p>
<form action="/register" method="post">
	<strong>Email Address:</strong><br />
	<input type="text" name="email" /><br />
	<strong>Display Name:</strong><br />
	<input type="text" name="display_name" /><br />
	<strong>Password:</strong><br />
	<input type="password" name="password" /><br />
	<strong>Password Confirmation:</strong><br />
	<input type="password" name="password_confirmation" /><br />
	<input type="submit" />	
</form>