body {
	font-family: helvetica, arial, verdana, sans-serif;
	color: #333;
	background: #fff;
	margin: 0;
	font: 15px georgia, "times new roman", times, serif;
	line-height: 1.4;
}

a {
	color: #06c;
}